.tiendaTitulo {
  margin-top: 50px;
  text-align: center;
  font-size: 32px;
}
.productos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.producto {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  text-align: center;
}

.producto img {
  max-width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.producto .descripcion {
  padding: 10px;
}

.producto:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.agregarCartaBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  border-radius: 15px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.agregarCartaBttn:hover {
  background-color: rgb(143, 72, 14);
  color: rgb(255, 230, 91);
  cursor: pointer;
} 
